body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

#app {
    display: flex;
    flex-direction: column;
}

#exercise-list,
#add-exercise-form,
#completed-workouts,
#personal-block,
#update-info-form,
#calorie-calculation,
#workout-plan {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input,
select,
button {
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#personal-block,
#update-info-form {
    display: flex;
    flex-direction: column;
}

#user-info {
    margin-bottom: 15px;
}

#calorie-calculation,
#workout-plan {
    text-align: center;
}

#calories-result {
    margin-top: 10px;
    font-weight: bold;
}

#calorie-calculation select,
#calorie-calculation input {
    margin-bottom: 10px;
}

#calorie-calculation button,
#workout-plan button {
    background-color: #007bff;
}

#calorie-calculation button:hover,
#workout-plan button:hover {
    background-color: #0056b3;
}

#update-name-form,
#update-info-form {
    margin-top: 20px;
}

#update-name-form button,
#update-info-form button {
    background-color: #ffc107;
}

#update-name-form button:hover,
#update-info-form button:hover {
    background-color: #d39e00;
}